<div class="container-fluid">
	<div class="rowAbout">
		<div class="col-md-12">
			<!-- <div class="row"> -->
				<div class="col-md-3" id="skills">
					<!-- <h2 class="aboutTitle">about me</h2> -->
					<!-- <div class="skills">
					<img class="portpic" src="css/img/Mishara Walkernew.jpg" align="left" />


						<h2 class="skillsTitle">Skills</h2>
						<hr />
						<ul class="skillsList">
							<li>
								HTML5
							</li>
							<li>
								CSS3
							</li>
							<li>
								JavaScript
							</li>
							<li>
								JQuery
							</li>
							<li>
								AngularJS
							</li>
							<li>
								JSON
							</li>
							<li>
								Adobe Creative Suite
							</li>
							<li>
								Illustration
							</li>
						</ul>
						<br />
					</div> -->

				</div>

				<div class="col-md-9" id="aboutMeWords">
					<!-- <object class="resume" data="/css/img/Mishara S Walker Resumeupdated.pdf" type="application/pdf" width="100%" height="100%"> -->
					<h2 class="aboutMe">ABOUT ME</h2>
					<h3 class="aboutMeSubHeading"> A Graphic Designer and Front End Developer!</h3>
					<hr />

						<h5><i>I'm the complete package. I can develope <strong>AND</strong> design websites!</i></h5>
						<p>I graduated from the University of Michigan, Ann Arbor, with a BFA in Graphic Design and Industrial Design.
						As a Graphic Designer, I worked on projects such as branding, logo designs, brochures, marketing materials,
						websites and much more. </p>
						<p>
						In March 2017, I graduted from Grand Circus Front End Development Bootcamp, an intense 10 week course. Before participating in the
						bootcamp, I was familar with HTML and CSS, but that was the extent of my website knowledge. In addition to those computer languages,
						I also learned JavaScript, jQuery, AngularJS, Node and a host of other frameworks and libraries.
					</p>
					<h4>
						My favorite qoute is:
					</h4>
					<blockquote>
						"Just don't give up trying to do what you really want to do. Where there is love and inspiration, I don't think you can go wrong." ~ Ella Fitzgerald
					</blockquote>
					<hr />

					<p class="website">
						<a href ="www.misharadesigns.com" >Click here to view my Graphic Design work at Mishara Designs</a>
					</p>
					<!-- <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p> -->
					<!-- </object> -->
				</div>

			<!-- </div> -->
		</div>
	</div>
</div>
