<section id="homes" tabindex="-1" data-type="background" data-speeds="10">

    <div class="container-fluid">
        <!-- <div class="rowAbout">
    <div class="intro-box"> -->
        <article>
            <h2 id="header-text"></h2>
            <h1 id="title">GRAPHIC DESIGNER </br> & FRONT-END DEVELOPER</h1>
        </article>
        <!-- </div>
    </div> -->
    </div>

</section>

<!-- ABOUT SECTION -->
<section id="about" data-type="background" data-speeds="10">
    <div class="container-fluid">
        <!-- <div class="rowAbout"> -->
        <div class="col-md-12" id="rowSkills">
            <div class="row">

                <div class="col-md-3 skills">
                    <img class="portpic" src="css/img/Mishara Walkernew.jpg" align="center" />

                    <h2 class="skillsTitle">Skills</h2>

                    <hr align="left" width="50%">
                    <ul class="skillsList">
                        <li>
                            HTML5
                        </li>
                        <li>
                            Bootstrap
                        </li>
                        <li>
                            CSS3
                        </li>
                        <li>
                            Sass
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            JQuery
                        </li>
                        <li>
                            AngularJS
                        </li>
                        <li>
                            JSON
                        </li>
                        <li>
                            Adobe Creative Suite
                        </li>
                        <li>
                            Node JS
                        </li>

                    </ul>
                </div>

                <div class="col-md-6 aboutMeWords">
                    <!-- <object class="resume" data="/css/img/Mishara S Walker Resumeupdated.pdf" type="application/pdf" width="100%" height="100%"> -->
                    <h2 class="aboutMe">About Me</h2>
                    <h3 class="aboutMeSubHeading"> A Graphic Designer and Front End Developer!</h3>
                    <hr />

                    <h5><i>I'm the complete package, a creative developer <strong>AND</strong> a designer!</i></h5>

                    <p>
                    Hi! I'm Mishara! A designer and developer. Since I was young, I've always had a passion to create things. After graduating from
                    The University of Michigan-Ann Arbor with my B.F.A in Graphic Design, I started my journey towards being an awesome designer.
                    As a Graphic Designer, I've created print materials for many companies and non-profits for over 10 years. I like to think that I can bring my customer's visions
                    to life.
                    </p>
                    <p>
                    In the pursuit of being an AWESOME designer, I'm always learning new things to improve my skills, so I decided to start building website.
                    I started off with simple Wordpress sites, only changing the CSS code to customize it but I wanted to know more. Basic knowledge of HTML and CSS
                    would not get me far and I wanted to take this web design thing to another level. In March 2017, I decied to participate in a Front-end Developer Bootcamp
                    at Grand Circus-Detroit. Grand Circus Front End Development Bootcamp, is an intense 10 week course that teaches you JavaScript, jQuery, AngularJS,
                    Node and a host of other frameworks and libraries.
                    </p>
                    <p>
                      I'm currently still working as a Graphic Designer and building websites/ applications, while learning new languages such as SASS and React.

                    </p>


                  </div>

                <div class="col-md-3">
                    <h4 class="quote">
  						My favorite qoute is:
  					</h4>
                    <blockquote>
                        "Just don't give up trying to do what you really want to do. Where there is love and inspiration, I don't think you can go wrong." ~ Ella Fitzgerald
                    </blockquote>
                    <hr />

                    <p class="website">
                        <a href="www.misharadesigns.com">Click here to view my Graphic Design work at Mishara Designs</a>
                    </p>

                </div>
            </div>
        </div>

</section>

<!-- PORTFOLIO SECTION -->
<section id="portfolio" data-type="background" data-speeds="10">
    <div class="container-fluid">
        <div class="rowPortfolio">
            <h2 class="aboutMe">A Few Grand Circus Projects</h2>
            <div class="col-md-4" id="portfolio">
                <a href="http://reverse-news.herokuapp.com" target="_blank">
                    <img alt="ReVun" src="css/img/revon copy.jpg" />
                </a>
                <h3>
  				ReVun
  			</h3>
                <p>
                    Want to filter out the articles you DON'T want to see, then ReVun is the site for you. ReVun web application is built with AngularJS, a responsive Bootstrap, and uses three API's to help you filter and view the news. </p>
            </div>
            <div class="col-md-4" id="portfolio">
                <a href="https://mswalker123.github.io/lab-15/#/" target="_blank">
                    <img alt="MadLibs" src="css/img/madlibs1.jpg" />
                </a>
                <h3>
  				Mad Libs Generator
  			</h3>
                <p>
                    This AngularJS web page allows you to create a crazy Mad Lib to the song from Gilligan Island.
                </p>
            </div>
            <div class="col-md-4" id="portfolio">
                <a href="https://mswalker123.github.io/midterm/" target="_blank">
                    <img alt="SeatReservation" src="css/img/midterm1.jpg" />
                </a>

                <h3>
  				Ticket Reservation
  			</h3>
                <p>
                    This web application, built with AngularJS, Bootstrap and jQuery, allows customers to reserve a seat at the movie theatre. When they first visit the site, the customer is welcome by a red curtin, that open up to reveal the movie theatre when clicked.
            </div>
        </div>

    </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" data-type="background" data-speeds="10">
    <div class="container-fluid" id="contactBox">
        <div class="row">

            <div class="col-md-12" id="contactMe">

              <div class="row ">
                <h1 class="contactMe">Contact</h1>
                <div class="col-md-4 links">

                    <a href="https://www.linkedin.com/in/mishara-walker/" target="_blank">
                        <img alt="" src="css/img/linkedin.png" />
                    </a>
                      </div>
                      <div class="col-md-4">
                    <a href="https://github.com/mswalker123" target="_blank">
                        <img alt="" src="css/img/octocat.png" />
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="mailto:mswalker123@gmail.com?Subject=Hello" target="_top">
                        <img alt="" src="css/img/Circle-icons-mail.svg.png" />
                    </a>
                </div>
              </div>
            </div>
        </div>
</section>
